body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial;

}

.thumb {
    height: auto;
    width: 100%;
}

.header {
    background-color: #d42031;
    margin-bottom: 2em;
    margin-top: 3em;
    padding-bottom: 1em;
    color: white;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

h1 {
    font-size: 3em;
}

.bootstrap-tagsinput span {
    color: #fff;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px #890c58;
    background-color: #890c58;
    padding: 3px;

}
tags {
    border: 1px solid #fff;
    background-color: #fff;
}
tag{
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px #890c58;
    background-color: #890c58;

}
tags tag > div{
    color:#fff;
}