<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>


<body cz-shortcut-listen="true">
<% include ../partials/nav.ejs %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">RROOOAAR!</h1>
        <p>Submit your Link</p>

        <form>
            <label for="url">Your URL</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">https://deineurl.com/tool/</span>
            <input type="text" class="form-control" id="url" aria-describedby="basic-addon3">
        </div><br>
        <label class="sr-only" for="title">Title</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="title" placeholder="Title"><br>
        <label class="sr-only" for="desc">Description</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="desc" placeholder="Description"><br>
        <label class="sr-only" for="tags">Tags</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="tags" placeholder="Tags"><br>

        <input class="btn btn-primary btn-lg" type="button" id="submit" value="Submit">
        </form>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>© Company 2017</p>
    </footer>
</div> <!-- /container -->


<style>a:active, a.wildfire-hover {
        outline-width: 0px;
    }

    ;
    a:focus, a.wildfire-hover {
        color: rgb(1, 76, 140);
        text-decoration: underline;
    }

    ;
    a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]).wildfire-hover {
        color: inherit;
        text-decoration: none;
    }

    ;
    .table-hover tbody tr.wildfire-hover {
        background-color: rgba(0, 0, 0, 0.0745098);
    }

    ;
    .table-hover .table-active.wildfire-hover {
        background-color: rgba(0, 0, 0, 0.0745098);
    }

    ;
    .table-hover .table-active.wildfire-hover > td, .table-hover .table-active.wildfire-hover > th {
        background-color: rgba(0, 0, 0, 0.0745098);
    }

    ;
    .table-hover .table-success.wildfire-hover {
        background-color: rgb(208, 233, 198);
    }

    ;
    .table-hover .table-success.wildfire-hover > td, .table-hover .table-success.wildfire-hover > th {
        background-color: rgb(208, 233, 198);
    }

    ;
    .table-hover .table-info.wildfire-hover {
        background-color: rgb(196, 227, 243);
    }

    ;
    .table-hover .table-info.wildfire-hover > td, .table-hover .table-info.wildfire-hover > th {
        background-color: rgb(196, 227, 243);
    }

    ;
    .table-hover .table-warning.wildfire-hover {
        background-color: rgb(250, 242, 204);
    }

    ;
    .table-hover .table-warning.wildfire-hover > td, .table-hover .table-warning.wildfire-hover > th {
        background-color: rgb(250, 242, 204);
    }

    ;
    .table-hover .table-danger.wildfire-hover {
        background-color: rgb(235, 204, 204);
    }

    ;
    .table-hover .table-danger.wildfire-hover > td, .table-hover .table-danger.wildfire-hover > th {
        background-color: rgb(235, 204, 204);
    }

    ;
    .btn:focus, .btn.wildfire-hover {
        text-decoration: none;
    }

    ;
    .btn-primary.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(2, 90, 165);
        border-color: rgb(1, 84, 155);
    }

    ;
    .btn-secondary.wildfire-hover {
        color: rgb(41, 43, 44);
        background-color: rgb(230, 230, 230);
        border-color: rgb(173, 173, 173);
    }

    ;
    .btn-info.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(49, 176, 213);
        border-color: rgb(42, 171, 210);
    }

    ;
    .btn-success.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(68, 157, 68);
        border-color: rgb(65, 150, 65);
    }

    ;
    .btn-warning.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(236, 151, 31);
        border-color: rgb(235, 147, 22);
    }

    ;
    .btn-danger.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(201, 48, 44);
        border-color: rgb(193, 46, 42);
    }

    ;
    .btn-outline-primary.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(2, 117, 216);
        border-color: rgb(2, 117, 216);
    }

    ;
    .btn-outline-secondary.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(204, 204, 204);
        border-color: rgb(204, 204, 204);
    }

    ;
    .btn-outline-info.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(91, 192, 222);
        border-color: rgb(91, 192, 222);
    }

    ;
    .btn-outline-success.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(92, 184, 92);
        border-color: rgb(92, 184, 92);
    }

    ;
    .btn-outline-warning.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(240, 173, 78);
        border-color: rgb(240, 173, 78);
    }

    ;
    .btn-outline-danger.wildfire-hover {
        color: rgb(255, 255, 255);
        background-color: rgb(217, 83, 79);
        border-color: rgb(217, 83, 79);
    }

    ;
    .btn-link.wildfire-hover {
        border-color: transparent;
    }

    ;
    .btn-link:focus, .btn-link.wildfire-hover {
        color: rgb(1, 76, 140);
        text-decoration: underline;
        background-color: transparent;
    }

    ;
    .btn-link:disabled:focus, .btn-link:disabled.wildfire-hover {
        text-decoration: none;
    }

    ;
    .dropdown-item:focus, .dropdown-item.wildfire-hover {
        color: rgb(29, 30, 31);
        text-decoration: none;
        background-color: rgb(247, 247, 249);
    }

    ;
    .btn-group-vertical > .btn.wildfire-hover, .btn-group > .btn.wildfire-hover {
        z-index: 2;
    }

    ;
    .input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control.wildfire-hover {
        z-index: 3;
    }

    ;
    .input-group-btn > .btn:active, .input-group-btn > .btn:focus, .input-group-btn > .btn.wildfire-hover {
        z-index: 3;
    }

    ;
    .input-group-btn:not(:first-child) > .btn-group:active, .input-group-btn:not(:first-child) > .btn-group:focus, .input-group-btn:not(:first-child) > .btn-group.wildfire-hover, .input-group-btn:not(:first-child) > .btn:active, .input-group-btn:not(:first-child) > .btn:focus, .input-group-btn:not(:first-child) > .btn.wildfire-hover {
        z-index: 3;
    }

    ;
    .nav-link:focus, .nav-link.wildfire-hover {
        text-decoration: none;
    }

    ;
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link.wildfire-hover {
        border-color: rgb(236, 238, 239) rgb(236, 238, 239) rgb(221, 221, 221);
    }

    ;
    .navbar-brand:focus, .navbar-brand.wildfire-hover {
        text-decoration: none;
    }

    ;
    .navbar-toggler:focus, .navbar-toggler.wildfire-hover {
        text-decoration: none;
    }

    ;
    .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand.wildfire-hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler.wildfire-hover {
        color: rgba(0, 0, 0, 0.901961);
    }

    ;
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link.wildfire-hover {
        color: rgba(0, 0, 0, 0.701961);
    }

    ;
    .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand.wildfire-hover, .navbar-inverse .navbar-toggler:focus, .navbar-inverse .navbar-toggler.wildfire-hover {
        color: rgb(255, 255, 255);
    }

    ;
    .navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link.wildfire-hover {
        color: rgba(255, 255, 255, 0.74902);
    }

    ;
    .card-link.wildfire-hover {
        text-decoration: none;
    }

    ;
    .card-inverse .card-link:focus, .card-inverse .card-link.wildfire-hover {
        color: rgb(255, 255, 255);
    }

    ;
    .breadcrumb-item + .breadcrumb-item.wildfire-hover::before {
        text-decoration: underline;
    }

    ;
    .breadcrumb-item + .breadcrumb-item.wildfire-hover::before {
        text-decoration: none;
    }

    ;
    .page-link:focus, .page-link.wildfire-hover {
        color: rgb(1, 76, 140);
        text-decoration: none;
        background-color: rgb(236, 238, 239);
        border-color: rgb(221, 221, 221);
    }

    ;
    a.badge:focus, a.badge.wildfire-hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: pointer;
    }

    ;
    .badge-default[href]:focus, .badge-default[href].wildfire-hover {
        background-color: rgb(75, 82, 87);
    }

    ;
    .badge-primary[href]:focus, .badge-primary[href].wildfire-hover {
        background-color: rgb(2, 90, 165);
    }

    ;
    .badge-success[href]:focus, .badge-success[href].wildfire-hover {
        background-color: rgb(68, 157, 68);
    }

    ;
    .badge-info[href]:focus, .badge-info[href].wildfire-hover {
        background-color: rgb(49, 176, 213);
    }

    ;
    .badge-warning[href]:focus, .badge-warning[href].wildfire-hover {
        background-color: rgb(236, 151, 31);
    }

    ;
    .badge-danger[href]:focus, .badge-danger[href].wildfire-hover {
        background-color: rgb(201, 48, 44);
    }

    ;
    .list-group-item-action:focus, .list-group-item-action.wildfire-hover {
        color: rgb(70, 74, 76);
        text-decoration: none;
        background-color: rgb(247, 247, 249);
    }

    ;
    .list-group-item:focus, .list-group-item.wildfire-hover {
        text-decoration: none;
    }

    ;
    a.list-group-item-success:focus, a.list-group-item-success.wildfire-hover, button.list-group-item-success:focus, button.list-group-item-success.wildfire-hover {
        color: rgb(60, 118, 61);
        background-color: rgb(208, 233, 198);
    }

    ;
    a.list-group-item-info:focus, a.list-group-item-info.wildfire-hover, button.list-group-item-info:focus, button.list-group-item-info.wildfire-hover {
        color: rgb(49, 112, 143);
        background-color: rgb(196, 227, 243);
    }

    ;
    a.list-group-item-warning:focus, a.list-group-item-warning.wildfire-hover, button.list-group-item-warning:focus, button.list-group-item-warning.wildfire-hover {
        color: rgb(138, 109, 59);
        background-color: rgb(250, 242, 204);
    }

    ;
    a.list-group-item-danger:focus, a.list-group-item-danger.wildfire-hover, button.list-group-item-danger:focus, button.list-group-item-danger.wildfire-hover {
        color: rgb(169, 68, 66);
        background-color: rgb(235, 204, 204);
    }

    ;
    .close:focus, .close.wildfire-hover {
        color: rgb(0, 0, 0);
        text-decoration: none;
        cursor: pointer;
        opacity: 0.75;
    }

    ;
    .carousel-control-next:focus, .carousel-control-next.wildfire-hover, .carousel-control-prev:focus, .carousel-control-prev.wildfire-hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
        outline: 0px;
        opacity: 0.9;
    }

    ;
    a.bg-primary:focus, a.bg-primary.wildfire-hover {
        background-color: rgb(2, 90, 165) !important;
    }

    ;
    a.bg-success:focus, a.bg-success.wildfire-hover {
        background-color: rgb(68, 157, 68) !important;
    }

    ;
    a.bg-info:focus, a.bg-info.wildfire-hover {
        background-color: rgb(49, 176, 213) !important;
    }

    ;
    a.bg-warning:focus, a.bg-warning.wildfire-hover {
        background-color: rgb(236, 151, 31) !important;
    }

    ;
    a.bg-danger:focus, a.bg-danger.wildfire-hover {
        background-color: rgb(201, 48, 44) !important;
    }

    ;
    a.bg-inverse:focus, a.bg-inverse.wildfire-hover {
        background-color: rgb(16, 17, 18) !important;
    }

    ;
    a.text-muted:focus, a.text-muted.wildfire-hover {
        color: rgb(75, 82, 87) !important;
    }

    ;
    a.text-primary:focus, a.text-primary.wildfire-hover {
        color: rgb(2, 90, 165) !important;
    }

    ;
    a.text-success:focus, a.text-success.wildfire-hover {
        color: rgb(68, 157, 68) !important;
    }

    ;
    a.text-info:focus, a.text-info.wildfire-hover {
        color: rgb(49, 176, 213) !important;
    }

    ;
    a.text-warning:focus, a.text-warning.wildfire-hover {
        color: rgb(236, 151, 31) !important;
    }

    ;
    a.text-danger:focus, a.text-danger.wildfire-hover {
        color: rgb(201, 48, 44) !important;
    }

    ;
    a.text-gray-dark:focus, a.text-gray-dark.wildfire-hover {
        color: rgb(16, 17, 18) !important;
    }

    ;</style>
<style></style>
<style></style>
<style></style>
<span id="buffer-extension-hover-button"
      style="display: none; position: absolute; z-index: 8675309; width: 100px; height: 25px; background-image: url(&quot;chrome-extension://noojglkidnpfjbincgijbaiedldjfbhh/data/shared/img/buffer-hover-icon@2x.png&quot;); background-size: 100px 25px; opacity: 0.9; cursor: pointer;"></span>
<div class="chrome-ext-image-cropper" style="position: absolute; top: 0px; left: 0px;">
    <div class="tip-top"></div>
    <div class="tip"></div>
    <div class="tip-bottom"></div>
</div>
</body>

</html>
